 * {
     margin: 0;
     padding: 0;
 }

 #count,
 #count1,
 #count2,
 #count3,
 #count4 {
     width: 800px;
     height: 200px;
     background: #bbb;
     margin: 100px auto;
     text-align: center;
     line-height: 200px;
     font-size: 24px;
 }

 #count span,
 #count1 span,
 #count2 span,
 #count3 span,
 #count4 span {
     width: 60px;
     height: 60px;
     background: #EEE;
     line-height: 60px;
     display: inline-block;
     vertical-align: middle;
     box-shadow: 0 0 5px #EEE;
     border-radius: 5px;
 }